<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>  
  <link href="./css/css_login/style.css" rel="stylesheet" type="text/css" />
      <style>
      /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      /* @import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300); */
   </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body link="white">
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">      
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="exemple@gmail.com" name="user" style="width:300px"><br>
				<input type="password" placeholder="password" name="password" style="width:300px"><br>
        <input type="submit" value="Login" style="width:310px"> <br><br>
        <table class="tab">
          <tr>
            <th><a href="GetPass.html">Quên mật khẩu?</a></th>
            <th><a href="Registration.html">Đăng Ký</a></th>
          </tr>
        </table>   
		</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>  
</body>
</html>
