<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Registration Form</title>
    <link rel="stylesheet" href="./css/css_registration/style.css">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<div class="container">
    <section class="register">
        <h1>ĐĂNG KÝ</h1>
        <form method="POST" action="/registration/save">
            <div class="reg_section personal_info">
                <h3>Thông tin cơ bản</h3>
                <input type="text" name="username" value="" placeholder="Họ và tên">
            </div>
            <div class="reg_section password">
                <h3>Password</h3>
                <input type="password" name="password" value="" placeholder="Password">
            </div>
            <div class="reg_section password">
                <h3>Số Điện Thoại</h3>
                <input type="text" name="sodt" value="" placeholder="Số Điện Thoại">
            </div>
            <div class="reg_section password">
                <h3>Email</h3>
                <input type="text" name="mail" value="" placeholder="Email của bạn">
            </div>
            <div class="reg_section password">
                <h3>Địa chỉ</h3>
                <!-- <select>
                  <option value="">Egypt</option>
                  <option value="">Palastine</option>
                  <option value="">Syria</option>
                  <option value="">Italy</option>
                </select> -->
                <textarea name="diachi" id="" placeholder="14 Nguyển Văn Bảo P.4 Q.GV Tp.HCM"></textarea>
            </div>
            <p class="terms">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Tôi chấp nhận <a href="#:">điều khoản</a> sử dụng
                </label>
            </p>
            <p class="submit"><input type="submit" name="commit" value="Đăng ký"></p><br>
        </form>
    </section>
</div>

<section class="about">

</section>

</body>
</html>

