<% layout('../../layoutAdmin') %>


<form class="ui form" action="/admin/createcategory/save" method="POST" ng-app="myApp" enctype='multipart/form-data'>
    <h2 class="ui dividing header">Create Category</h2>

    <div class="ui error message"></div>
    <div class="field">
        <label>Category ID</label>
        <input type="text" name="maid" placeholder="Category ID">
    </div>
    <div class="field">
        <label>Category Name</label>
        <input type="text" name="ten" placeholder="Category Name">
    </div>
    <div class="field">
        <label>Component</label>
        <input type="text" name="subCategory" placeholder="Category name 1, Category name2,...">
    </div>




    <button class="ui button" type="submit">Submit</button>
</form>