<% layout('../../layoutAdmin') %>

<% products.forEach(function (pd) { %>
<form class="ui form" action="/admin/editcategory/save" method="POST" ng-app="myApp">
    <h2 class="ui dividing header">Update Category</h2>
    <div class="ui error message"></div>
    <div class="field">
        <label>ID</label>
        <input readonly type="text" name="masanpham" placeholder="Mã Category ID" value="<%= pd._id %>">
    </div>
    <div class="field">
        <label>Category ID</label>
        <input type="text" name="idloai" placeholder="Category ID" value="<%= pd.CateId %>">
    </div>
    <div class="field">
        <label>Category Name</label>
        <input type="text" name="tenloai" placeholder="Category Name" value="<%= pd.Name%>">
    </div>
    <div class="field">
        <label>Component</label>
        <input type="text" name="subCategory" placeholder="Category name 1, Category name2,..." value="<%= pd.SubCategory%>">
    </div>









    <button class="ui button" type="submit">Submit</button>
</form>
<% })%>